<div class="row">
    <div class="offset-lg-2 col-12 col-lg-8">
        <div class="breadcrumbs pt-2 font-size-sm text-center">
            FlexMotion © 2023 <a href="https://www.moartis.dev">Mathieu Philippe</a> - Website created with <a href="https://statiq.dev">Statiq</a>
        </div>
    </div>
</div>